@model IPaginatedList<LogDTO>
    

@foreach (var log in Model.Items)
{
    <div class="container-logs">
        <div class="">@log.AuthorUsername</div>
        <div class=""><em>@log.Description</em></div>
        <div class="">@log.CreatedOn.ToString("dd MMM yyyy, HH:mm")</div>
        <div class="">@log.Category</div>
        <div></div>
        <div class="status-div" data-url="/manager/logbook/ShowStatusesOtherThanLogs/@log.Id">
            <select class="status-dropdown nice-select" id="dropdown-logbook-status" data-url="/manager/logbook/ShowStatusesOtherThanLogs/@log.Id">
                <option value=@log.Status>@log.Status</option>
            </select>
        </div>
    </div>
    <hr />
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-area="Manager" asp-controller="LogBook" asp-action="AllLogbookLogs" asp-route-keyword="@Model.CurrentFilter"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-outline-warning btn-lg @prevDisabled">
    Previous
</a>
<a asp-area="Manager" asp-controller="LogBook" asp-action="AllLogbookLogs" asp-route-keyword="@Model.CurrentFilter"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-outline-warning btn-lg @nextDisabled">
    Next
</a>
